[user]
	name = EdgeJ
	email = 5093048+EdgeJ@users.noreply.github.com
[color]
	ui = true
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[core]
	autocrlf = false
	preloadindex = true
	fscache = true
	editor = /usr/bin/vim --clean
	excludesfile = ~/.gitignore_global
	pager = less -FX
[log]
	decorate = short
